<!-- views/pages/heatmap.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
		<!-- Heatmap -->
		<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~delollis/4.embed"></iframe>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
    
</body>
</html>
