<!-- views/measurements.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1><%= title %></h1>
            <h2>All the Measurements</h2>
            <ul>
            	<% if(measurements) { %>
	                <% measurements.forEach(function(measurement) { %>
	                    <li><%= measurement.id %> - <%= measurement.reading %></li>
	                <% }); %>
	            <% }; %>
            </ul>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
    
</body>
</html>

